.wrapper {
	font-family: Arial, Helvetica;
}

.map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 270px;
	right: 0;
	z-index: -100;
}

.navbar {
	position: absolute;
	right:0;
	top: 20px;
	width: 200px;
}

.sidebar {
	position: absolute;
	left:0;
	top:0;
	bottom: 0;
	background: white;
	padding: 10px;
	width: 250px;
	border-right: 1px solid black;
}

.sidebar .results ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.representationInfo {
	background: red;
	position: absolute;
	top:0;
	height:50px;
}

.link {
	color: blue;
	text-decoration: underline;
}